<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.cdts.demo">

    <application
            android:name=".ui.application.MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:node="replace" >
        <activity android:name="com.cdts.demo.tab.view.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".schema.view.webview.BaseWebViewActivity" android:theme="@style/AppTheme" />
        <activity android:name=".tab.view.MenuListViewActivity" android:theme="@style/AppTheme" />
        <activity android:name=".ui.listview.view.ListTypeActivity" android:theme="@style/AppTheme" />
        <activity android:name=".ui.webview.view.SimpleWebViewActivity" android:theme="@style/AppTheme" />
        <activity android:name=".ui.webview.view.WebBridgeViewActivity" android:theme="@style/AppTheme" />
        <activity android:name=".ui.indicatorview.view.IndicatorViewActivity" android:theme="@style/AppTheme" />
        <activity android:name=".data.cache.view.CacheActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.didichuxing.doraemonkit.ui.UniversalActivity" android:theme="@style/AppTheme" />
        <activity android:name=".data.network.view.NetworkActivity" android:theme="@style/AppTheme" />
        <activity android:name=".data.device.view.DeviceInfoActivity" android:theme="@style/AppTheme" />
        <activity android:name=".data.location.view.LocationActivity" android:theme="@style/AppTheme" />
        <activity android:name=".ui.animation.view.AnimationActivity" android:theme="@style/AppTheme" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.GET_TASKS" />

</manifest>